<!DOCTYPE html>
<html>
  <head>
    <title>LaCWRUmosa</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%=content_tag :h1, link_to("LaCWRUmosa", root_path)%>
      <%=link_to("Friends", friends_users_path)%>
      <%=link_to("Check Ins", check_ins_path)%>
      <%=link_to("Events", events_path)%>
      <%=link_to("Invitations", invites_path)%>
      <%=link_to("Friend Requests", friend_requests_path)%>
      <%=link_to("Locations", locations_path)%>
    </header>
    <article>
      <%= yield %>
    </article>
  </body>
</html>
